.container {
    min-height: 93.6vh;
}

.titleBackground {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1100px;
    height: 300px;
    overflow: hidden;
}

.titleBackground:hover .cont1{
    transform: scaleX(0);
}
.titleBackground:hover .cont2{
    transform: scaleX(0);
}
.titleBackground:hover .cont3{
    transform: scaleX(0);
}

.titleBackground:hover h1{
    transition-delay: .4s;
    opacity: 1;
}

.titleBackground h1 {
    transition: .3s;
    font-family: 'Kaushan Script', cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
    padding: .5em 2em;
    text-align: center;
    height: fit-content;
    opacity: 0;
}

.titleBackground div {
    transition: .2s;
    width: 75px;
    height: 100%;
    background-color: rgb(41, 41, 41);
    position: absolute;
}

.cont1 {
    left: 25%;
}

.cont3 {
    top:0;
    left: calc(50% - 34.5px);
}

.cont2 { 
   right: 25%;
}

.postsContainer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: none;
    width: 400px;
    height: 300px;
    box-shadow: 3px 3px 10px rgb(19, 19, 19);
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: .2s;
}

.card-img-overlay * {
    opacity: 0;
}

.card-img-overlay p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.date {
    right: 10px;
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    font-weight: 700;
}



.empty-cat button {
    width: 50%;
    transition: .2s;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    padding: 7px 15px;
    border-radius: 3px;
    font-size: 2em;
    font-weight: 700;
}

.empty-cat button:hover {
    color: black;
    background-color: white;
    border: 3px solid transparent;
}

.card button {
    transition: .2s;
    position: absolute;
    bottom: 10px;
    color: black;
    background-color: white;
    border: 3px solid transparent;
    padding: 3px 15px;
    border-radius: 3px;
    font-weight: 700;
    z-index: 1;
}

.card button:hover {
    background-color: transparent;
    color: white;
    border: 3px solid white;
}

.card button:hover + .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.815)
}

.card button:hover + .card-img-overlay * {
    opacity: 1;
}
