<div class="container mt-5 pt-5">
    <form [formGroup]="postForm" (ngSubmit)="getDataForm()">

        <div class="mb-5">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="title" formControlName="title">
        </div>

        <div class="mb-5">
            <label for="body" class="form-label">Body</label>
            <textarea type="text" class="form-control" id="body" formControlName="body"></textarea>
        </div>

        <div class="mb-5">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" id="image" formControlName="image">
        </div>

        <div class="mb-5">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" formControlName="author">
        </div>

        <div class="mb-5">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" formControlName="category">
                <option disabled>Seleccione una categoria</option>
                <option *ngFor="let category of arrCategories" [value]="category._id">{{category.name}}</option>
            </select>
        </div>

        <button class="submit-button" type="submit" [disabled]="!postForm.valid"> Añadir Post</button>
    </form>
</div>
<app-footer></app-footer>